.top {
  display: grid;
 grid-template-columns: auto auto auto;
 margin-bottom: 20px;

}
.car{
  background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
  background-color: #EBEBEB;
  background-repeat: repeat;
}
.it{
  background-color: rgba(255, 255, 255, 0.8);
}
.con{
  margin-bottom: 20px;
  width: 800px;
  margin-left: 300px;
}
.item{
  margin-left: 10px;
}
.app{
  background-color: #FF7B54
}
.header{
  text-align: center;
}